<!-- your html code here -->
<div class="d-flex bg-light p-3 align-items-center justify-content-center">
    <div class="col-4">
        <h2>This First Heading Wil Catch Your Eye</h2>
        
        <p>Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.</p>
    </div>
    <div class="col-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdI5h6LZxis-xvMA-mioIFBUdBqrofceIn1A&s" class="rounded float-end rounded-circle" alt="...">

    </div>


    
</div>