<footer>

    <div class="row">

        <div class="col-lg-12">

            <div class="container">

                <div class="btn-group">
        
                    <button type="button" class="btn btn-primary" href="https://github.com/lluisespert">Lluís Espert</button>
        
                    <button type="button" class="btn btn-primary" href="https://github.com/AndresVillani00">Andrés Villani</button>
        
                    <button type="button" class="btn btn-primary" href="https://github.com/alex22b0">Luis Borjas</button>
        
                    <button type="button" class="btn btn-primary" href="https://github.com/lisamarie245">Lisa</button>
        
                  </div>    
        
            </div>
            
        </div>

    </div>


</footer>
