<div class=" bg-white portfolio">
  <h1>Portafolio</h1>
  <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://i.imgur.com/MSuOQkx.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">Project Name</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://i.imgur.com/MSuOQkx.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">Project Name</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://i.imgur.com/MSuOQkx.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">Project Name</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
    </div>
</div>

<!-- Línea separadora-->
<div class="d-flex bg-light">
  <div class="border-bottom" style="border-color: #dcdcdc; width: 95%; margin: 30px auto;"></div>
  </div>