
<!-- Línea separadora top-->
<div class="d-flex bg-light">
    <div class="border-top" style="border-color: #dcdcdc; width: 95%; margin: 30px auto;"></div>
    </div>
<!-- Línea separadora-->

<!-- ---- services ---  -->
<div class="d-flex bg-light p-3 align-items-center justify-content-start g-4 ">
    <div class="col-4 mr-3">
        <img src="https://i.imgur.com/bEuVRYI.jpeg" class="rounded float-end rounded-circle img-fluid" alt="...">

    </div>
    <div class="col-6 ms-5">
        <h3>
            The Second Heading is
            <small class="text-secondary">Pretty Cool Too.</small>
        </h3>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.</p>
    </div>
</div>

<!-- Línea separadora bottom-->
<div class="d-flex bg-light">
<div class="border-bottom" style="border-color: #dcdcdc; width: 95%; margin: 30px auto;"></div>
</div>
